<!DOCTYPE html>
<html lang="en" ng-app = "employee">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Angular Assignment</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" href="style.css"> 
</head>
<body>
    <center>
        <h1>Users and Details </h1>
        <div class = "row" ng-controller="myfunc">
            <div class = "column" style = "border-right: 2px solid grey;">
                
                <div class = "card">
                    <ul style = "padding-left: 0px;">
                        <ul ng-repeat="x in rec track by $index" ng-value ="{{$index}}" style = "padding-left: 0px;">
                            <button ng-click="red($index)">{{x['name']}}</button>
                        </ul>
                    </ul>
                </div>
            </div>
            <div class = "column">
                <div class="result">
                    Name     : {{details['name']}}<br>
                    Username : {{details['username']}}<br>
                    Phone    : {{details['phone']}}<br>
                    Website  : {{details['website']}}
                </div>
            </div>
         </div>
    </center>
    <script  src="index.js"></script>


</body>
</html>